<div class="pb-2 last:pb-0" data-metadata-fields-target="row">
  <% if local_assigns[:id] %>
    <input type="hidden" name="document[metadata_attributes][<%= index %>][id]" value="<%= id %>">
  <% end %>
  <div class="flex flex-col md:flex-row gap-2 md:gap-4">
    <div class="md:w-1/3">
      <input type="text"
             name="document[metadata_attributes][<%= index %>][key]"
             value="<%= key %>"
             placeholder="Enter key"
             list="metadata-key-suggestions"
             data-action="change->metadata-fields#updateValueSuggestions"
             class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-brand-500 focus:border-transparent <%= 'bg-gray-100 cursor-not-allowed' if required %>"
             <%= 'disabled' if !editable || required %>>
      <datalist id="metadata-key-suggestions">
        <% metadata_key_suggestions.each do |suggestion| %>
          <option value="<%= suggestion %>"></option>
        <% end %>
      </datalist>
      <% if required %>
        <input type="hidden" name="document[metadata_attributes][<%= index %>][key]" value="<%= key %>">
      <% end %>
    </div>
    <div class="flex gap-2 md:flex-1">
      <input type="<%= key == 'publishing_date' ? 'date' : 'text' %>"
             name="document[metadata_attributes][<%= index %>][value]"
             value="<%= value %>"
             placeholder="Enter value"
             list="value-suggestions-<%= index %>"
             class="flex-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-brand-500 focus:border-transparent"
             <%= 'disabled' unless editable %>
             <%= 'required' if required %>>
      <datalist id="value-suggestions-<%= index %>" class="value-suggestions"></datalist>
      <% if editable && !required %>
        <button type="button"
                class="text-red-600 hover:text-red-800 px-2"
                data-action="click->metadata-fields#removeRow">
          <i class="fas fa-trash"></i>
        </button>
      <% end %>
    </div>
  </div>
  <input type="hidden" name="document[metadata_attributes][<%= index %>][_destroy]" value="<%= destroy_value %>">
</div>
